@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

:root {
  --azul: #32b9cd;
  --rosa: #fa5d92;
  --verde: rgb(49, 190, 2);
  --vermelho: rgb(243, 0, 0);
  --cinza: rgb(126, 125, 125);
}

body {
  background: #fca9be;
  background: linear-gradient(145deg, rgba(252, 169, 190, 1) 0%, rgba(214, 255, 255, 1) 100%);
  margin: 0;
  padding: 0;
  font-family: "Poppins";
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

/* ------------------------------------ MENU -------------------------------- */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(255, 255, 255);
  border-bottom: 2px solid var(--rosa);
  z-index: 1000;
  display: flex;
  justify-content: space-between;
}


/* .navbar {
  display: flex;
  align-items: center;
  padding: 10px 30px;
} */

.logo-position {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 30px;
}

.lista {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 30px;
}

.logo img {
  height: 50px;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0;
}

.nav-list span {
  font-size: 20px;
  color: var(--rosa);
}

.nav-list li a {
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  color: var(--rosa);
  text-decoration: none;
  transition: 0.3s;
  background-color: transparent;
}

.nav-list li a:hover {
  background-color: var(--rosa);
  color: rgb(255, 255, 255);
  border: 2px solid var(--rosa);
}

.pagina-atual {
  text-decoration: underline;
  font-weight: 900;
  color: var(--rosa);
}

/* -------------------------------INDEX PRIMEIRA PARTE----------------------------------- */
.conteudoinicial {
  display: flex;
  flex-direction: column;
  padding: 100px;
  padding-top: 200px;
}

.conteudoinicial button {
  width: 180px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.628);
  border-radius: 200px;
  color: #000000b5;
  border-color: transparent;
  font-size: 17px;
  font-weight: bolder;
  transition: background-color 0.2s ease-in;
}

.conteudoinicial button:hover {
  color: white;
  background-color: var(--rosa);
}

.img-backgroundBeach {
  width: 100%;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
}

/* .bloco-conteudo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
} */

.titulo {
  color: rgb(255, 255, 255);
  font-size: 100px;
  font-weight: bolder;
}

.titulo p {
  margin: 0;
}

.subtitulo {
  color: rgb(255, 255, 255);
  font-size: 40px;
  font-weight: normal;
}

.subtitulo p {
  margin: 0;
}

/* .galinha {
  position: absolute;
  top: 97px;
  right: 0;
  z-index: 1;
}

.galinha img {
  height: 370px;
  display: block;
} */

/* .linha-sobreposta {
  position: absolute;
  top: calc(170px + 300px - 4px);
  left: 0;
  width: 100vw;
  height: 2px;
  background-color: var(--cinzaescuro);
  z-index: 2;
} */


/* -------------------------------INDEX SEGUNDA PARTE STEVEN UNIVERSO----------------------------------- */
.steven-universe {
  padding: 100px;
  margin-top: 120px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.conteudo-steven-universe {
  flex: 1 1 250px;
  padding: 5px;
  max-width: 600px;
}

.conteudo-steven-universe p {
  font-size: 18px;
  text-align: justify;
}

.conteudo-steven-universe h1 {
  font-size: 40px;
  color: #2b2b2b;
}

.conteudo-steven-universe a {
  font-size: 18px;
  font-weight: bolder;
  color: var(--rosa);
}

.conteudo-steven-universe a:hover {
  color: rgb(252, 158, 181);
}

.img-StevenCrystalGems {
  height: 400px;
  border-top-right-radius: 20%;
}

/* ------------------------INDEX TERCEIRA PARTE GEMS-------------------- */
.gems {
  padding: 100px;
  padding-top: 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.img-gemsTogether {
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-top-left-radius: 20%;
}

/* ------------------------INDEX QUARTA PARTE TESTE PERSONALIDADE-------------------- */

.img-crystalGems {
  height: 500px;
}

/* ------------------------INDEX QUINTA PARTE CRYSTAL QUIZ-------------------- */
.titulo-crystalQuiz {
  display: flex;
  justify-content: center;
  color: #2b2b2b;
  font-size: 50px;
}

.instrucoes {
  display: flex;
  justify-content: space-evenly;
  padding: 50px;
}


.card {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--rosa);
  width: 20%;
  border-radius: 20px;
  border: 1px solid var(--rosa);
  padding: 20px;
  margin: 50px;
  background-color: white;
}

.card img {
  height: 150px;
  color: var(--rosa);
}

/* -------------------FORMULÁRIO----------------------- */
.perguntas {
  font-size: 25px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-color: #efefef;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-top: solid 1px rgb(132, 131, 131);
}
.perguntas hr{
  width: 70%;
}

.perguntas form {
  display: flex;
  justify-content: center;
}
.perguntas button{
  width: 20%;
  height: 70px;
  border: 1px solid var(--rosa);
  border-radius: 20px;
  margin-bottom: 40px;
  margin-top: 30px;
  color: white;
  font-weight: bold;
  font-size: 25px;
  background-color: var(--rosa);
  transition: background-color 0.2s ease-in;
}

.perguntas button:hover {
  background-color:#fca9be;
}

.perguntas p {
  margin-top: 30px;
}

.opcao-concordo {
  display: flex;
  align-items: center;
  margin: 40px;
  font-size: 30px;
  font-weight: bold;
  color: var(--verde);
}

.opcao-concordo input {
  appearance: none;
  border: 2px solid var(--verde);
  transition: 0.2 all linear;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin-left: 20px;
}

.opcao-concordo input:checked {
  background-color: var(--verde);
}

.opcao-neutro {
  padding-top: 30px;
  margin: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.opcao-neutro input {
  appearance: none;
  border: 2px solid var(--cinza);
  transition: 0.2 all linear;
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

.opcao-neutro input:checked {
  background-color: var(--cinza);
}

.span-neutro {
  margin-top: 10px;
  font-size: 20px;
  color: var(--cinza);
  font-weight: bold;
}

.opcao-discordo {
  display: flex;
  align-items: center;
  margin: 40px;
  font-size: 30px;
  font-weight: bold;
  color: var(--vermelho);
}

.opcao-discordo input {
  appearance: none;
  border: 2px solid var(--vermelho);
  transition: 0.2 all linear;
  border-radius: 50%;
  margin-right: 20px;
  height: 40px;
  width: 40px;
}

.opcao-discordo input:checked {
  background-color: var(--vermelho);
}

/* ------------------------RODAPÉ-------------------- */
.footer {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 20px 100px;
  border-top: 2px solid var(--rosa);
}

.footer-sobre {
  display: flex;
  align-items: center;
}

.footer-sobre a {
  color: var(--rosa);
  font-weight: bolder;
}

.footer-credit {
  justify-content: flex-start;
  font-size: 15px;
  color: black;
}

.footer-left {
  display: flex;
}