@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

:root {
  --azul: #32b9cd;
  --rosa: #fa5d92;
  --rosa-claro: rgb(252, 158, 181);
  --verde: rgb(49, 190, 2);
  --vermelho: rgb(243, 0, 0);
  --cinza: rgb(126, 125, 125);
}

body {
  background: #fca9be;
  background: linear-gradient(145deg, rgba(252, 169, 190, 1) 0%, rgba(214, 255, 255, 1) 100%);
  margin: 0;
  padding: 0;
  font-family: "Poppins";
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

/* ------------------------------------ MENU -------------------------------- */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: rgb(255, 255, 255);
  border-bottom: 2px solid var(--rosa);
  z-index: 1000;
  display: flex;
  justify-content: space-between;
}

.logo-position {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 30px;
}

.lista {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 30px;
}

.logo img {
  height: 50px;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0;
}

.nav-list span {
  font-size: 20px;
  color: var(--rosa);
}

.nav-list li a {
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  color: var(--rosa);
  text-decoration: none;
  transition: 0.3s;
  background-color: transparent;
}

.nav-list li a:hover {
  background-color: var(--rosa);
  color: rgb(255, 255, 255);
  border: 2px solid var(--rosa);
}

.pagina-atual {
  text-decoration: underline;
  font-weight: 900;
  color: var(--rosa);
}


/* ------------------------INDEX QUINTA PARTE CRYSTAL QUIZ-------------------- */
.titulo-crystalQuiz {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  color: #2b2b2b;
  font-size: 50px;
}

.instrucoes {
  display: flex;
  justify-content: space-evenly;
  padding: 0 50px 0 50px;
}


.card {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--rosa);
  width: 20%;
  border-radius: 20px;
  border: 1px solid var(--rosa);
  padding: 20px;
  margin: 50px;
  background-color: white;
}

.card img {
  height: 150px;
  color: var(--rosa);
}


/* -------------------FORMULÁRIO----------------------- */
.barra-progresso {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.barra-progresso span{
  font-size: 20px;
  color: #6d6d6d;
}
.barra{
  border-radius: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 10px;
  width: 50%;
  margin-left: 5px;
  background-color: #aaa8a8;
}
.barra-porcentagem{
  background-color: var(--rosa);
  border-radius: 20px;
  width: 1%;
  height: 100%;
}
.perguntas {
  font-size: 22px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-color: #efefef;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-top: solid 1px rgb(132, 131, 131);
}
.perguntas hr{
  width: 70%;
}

.perguntas form {
  display: flex;
  justify-content: center;
  align-items: center;
}
.botao-avancar {
  width: 300px;
  height: 70px;
  border: 1px solid var(--rosa);
  border-radius: 20px;
  margin-bottom: 40px;
  margin-top: 30px;
  color: white;
  font-weight: bold;
  font-size: 25px;
  background-color: var(--rosa);
  transition: background-color 0.2s ease-in;
}

.botao-avancar:hover {
  background-color:#fca9be;
}

.botao-voltar {
  color: rgb(65, 65, 65);
  background-color: transparent;
  border: 2px solid var(--rosa);
}
.botao-voltar:hover {
  color: white;
}
.perguntas p {
  margin-top: 30px;
}

.opcao-concordo {
  display: flex;
  align-items: center;
  margin: 40px;
  font-size: 20px;
  font-weight: bold;
  color: var(--verde);
}

.opcao-concordo input {
  appearance: none;
  border: 2px solid var(--verde);
  transition: 0.2 all linear;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin-left: 20px;
}

.opcao-concordo input:checked {
  background-color: var(--verde);
}

.opcao-neutro {
  margin: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.opcao-neutro input {
  appearance: none;
  border: 2px solid var(--cinza);
  transition: 0.2 all linear;
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

.opcao-neutro input:checked {
  background-color: var(--cinza);
}

.span-neutro {
  margin: 10px;
  margin-top: 10px;
  font-size: 20px;
  color: var(--cinza);
  font-weight: bold;
}

.opcao-discordo {
  display: flex;
  align-items: center;
  margin: 40px;
  font-size: 20px;
  font-weight: bold;
  color: var(--vermelho);
}

.opcao-discordo input {
  appearance: none;
  border: 2px solid var(--vermelho);
  transition: 0.2 all linear;
  border-radius: 50%;
  margin-right: 20px;
  height: 40px;
  width: 40px;
}

.opcao-discordo input:checked {
  background-color: var(--vermelho);
}

/* ------------------------RODAPÉ-------------------- */
.footer {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 20px 100px;
  border-top: 2px solid var(--rosa);
}

.footer-sobre {
  display: flex;
  align-items: center;
}

.footer-sobre a {
  color: var(--rosa);
  font-weight: bolder;
}

.footer-credit {
  justify-content: flex-start;
  font-size: 15px;
  color: black;
}

.footer-left {
  display: flex;
}